html, body {
  font-family: $nunito;
  background: $dark_gray;
  color: $dark_black;
  @include _font-size(1.2);
  font-weight: normal;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @include _antialiasing;
  font-family: $nunito;
  font-weight: normal;
}

p, a, button, span, input {
  @include _antialiasing;
  @include _no-outline;
  font-weight: normal;
}

#app-wrapper {
  position: relative;
  min-width: $min_width;
  max-width: $max_width;
  background: $lighter_gray;
  min-height: 100%;
  margin: 0px auto;
  padding: $top_padding 10px 10px;
  @include _breakpoint(phablet) {
    padding: $top_padding 20px 20px;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
