/**
 * Gray scale
 */
$lighter_black: none;
$light_black: none;
$dark_black: #444444;

/**
 * Gray scale
 */
$lighter_gray: #FCFCFC;
$light_gray: #E1E1E1;
$dark_gray: #BDBEC0;
$darkest_gray: #5c5757;

/**
 * Red scale
 */
$lighter_red: none;
$light_red: #EE6E73;
$dark_red: none;
